<div class="menu">
    <div class="menu__wrapper">
        <ul class="menu__list">
            {{#each menu.nav}}
                <li class="menu__item">
                    <a href="{{link}}" class="menu__link">{{name}}</a>
                    <span class="menu__number">{{number}}</span>
                </li>
            {{/each}}
        </ul>
        <div class="menu__title">
            <img src="source/images/menu/menu.png" alt="">
        </div>

        <ul class="menu__info">
            {{#each menu.projects}}
                <li class="menu__info-item">
                    <a href="{{link}}" class="menu__info-link">{{name}}</a>
                </li>
            {{/each}}
        </ul>
        <div class="menu__tel">
            {{#each menu.tel}}
                <a href="tel:{{this}}" class="menu__tel-item">{{this}}</a>
            {{/each}}
        </div>
        <div class="menu__media">
            {{#each menu.socialNetwork}}
                <a href="{{link}}" class="menu__ico">{{{ico}}}</a>
            {{/each}}
        </div>
    </div>
    <div class="menu__rights">© 2018,  Natalia Oleksienko. All Rights Reserved.</div>
</div>
