<div class="error-404" style="background-image: url('{{error404.mainBg}}')">
    <div class="error-404__pict">
        <img src="{{error404.errorText}}" alt="" class="error-404__img">
    </div>
    <div class="error-404__text">
        <h1 class="error-404__title">{{error404.title}}</h1>
        <h2 class="error-404__subtitle">{{error404.subtitle}}</h2>
        <div class="error-404__description">
            {{#each error404.description}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    </div>
</div>