<div class="homepage" >
    <div class="red-squares">
        <div class="red-square"></div>
    </div>
    {{>component/navigationLetters/navigationLetters}}
    <div class="homepage__slides">
        <section class="homepage__item">
            {{> component/preloader/preloader}}
            <div class="first-screen-slider">
                {{#each homepage.firstScreen.slides}}
                    <div class="first-screen-slider__item" style="background-image: url('{{this}}')"></div>
                {{/each}}
            </div>
            <div class="slide__number">
                <span class="slide__value">{{homepage.firstScreen.number}}</span>
            </div>
        </section>
        {{#each homepage.items}}
            <section class="homepage__item" style="background-image: url('{{background}}')">
                <div class="homepage__text">
                    {{#if title}}
                        <h2 class="main-title main-title--light">{{title}}</h2>
                    {{/if}}
                    {{#if titleBold}}
                        <h3 class="homepage__subtitle main-title main-title--semibold">{{titleBold}}</h3>
                    {{/if}}
                    {{#if subtitle}}
                        <h3 class="homepage__position main-subtitle animation-title">{{subtitle}}</h3>
                    {{/if}}
                    <p class="slide__description animation-title">
                        {{#if description}}
                            {{{description}}}
                        {{/if}}
                    </p>
                </div>
                <div class="slide__number">
                    <span class="slide__value">{{number}}</span>
                </div>
            </section>
        {{/each}}
        <section class="homepage__item" style="background-image: url('{{homepage.achievement.background}}')" data-section="achievement">
            <div class="homepage__text">
                <h2 class="main-title main-title--light">{{homepage.achievement.title}}</h2>
                <h3 class="homepage__subtitle main-title main-title--semibold">{{homepage.achievement.titleBold}}</h3>
                <p class="slide__description"></p>
            </div>
            <div class="slide__number">
                <span class="slide__value">{{homepage.achievement.number}}</span>
            </div>
            <div class="achievement__wrapper">
                <ul class="achievement__list">

                    {{#each homepage.achievement.list}}
                        <li class="achievement__item">
                            <span class="achievement__quantity"><span class="exo--light">{{zeroAmount}}</span>{{value}}</span>
                            <span class="achievement__description">{{description}}</span></li>
                    {{/each}}
                </ul>
            </div>
        </section>
        <section class="homepage__item" style="background-image: url('{{homepage.video.background}}')" data-section="video">
            <div class="homepage__text">
                <h2 class="main-title main-title--light homepage__animation-title">{{homepage.video.title}}</h2>
                <h3 class="homepage__subtitle main-title main-title--semibold homepage__animation-title">{{homepage.video.titleBold}}</h3>
                <p class="slide__description"></p>
            </div>
            <div class="slide__number">
                <span class="slide__value">{{homepage.video.number}}</span>
            </div>
            <a href="#" class="homepage__play-btn" data-iframe="https://www.youtube.com/embed/KQxxzMh7bto?autoplay=1&amp;auotplay=1&amp;showinfo=0&amp;rel=0">
                <span class="homepage__play-triangle"></span>
            </a>
            <div class="video__lines">
                <div class="video__line video__line--1"></div>
                <div class="video__line video__line--2"></div>
                <div class="video__line video__line--3"></div>
            </div>
        </section>
    </div>
    <div class="scroll-more">
        <span class="scroll-more__text exo--thin">
            <span class="scroll-more__desktop">Scroll</span>
            <span class="scroll-more__mobile">Swipe</span>
            <span class="scroll-more--bold exo--bold">Down</span>
        </span>
    </div>
</div>
